alembic
boto
celery
chartkick
cryptography
coverage
dill
flake8
flask
flask-admin
flask-cache
flask-login
flower
future
hive-thrift-py
jinja2
markdown
mysql-python
nose
pandas
psycopg2
pygments
pyhive
pydruid
PySmbClient
python-dateutil
pyhs2
redis
requests
setproctitle
statsd
#snakebite -> not compatible with Python 3
sqlalchemy
thrift
jaydebeapi
pymssql
unicodecsv
slackclient
